* {
    box-sizing: border-box;
}

/* main.touch-action {
    touch-action: none;
} */

main.right {
    touch-action: pan-right;
}

main.left {
    touch-action: pan-left;
}

main.left.right {
    touch-action: pan-y;
}

:root {
    --basebg: #f4f4f4;
    --white: #fff;
    --black: #000;
    --darkgrey: #777;
    --yellow: #FFCF26;
    --badgeGreen: #11BE75;
    --buttonMoreBg: #E5E5E5;
    --buttonColor: #4290c9;
    --butttonHover: #d8d8d8;
    --widgetColor:  #3C3C3C;
    --widgetBorderColor: #D6D6D6;
    --locationBtnHover: #fff0bb;
    --btnActiveHover: #e9ba11;
    --widgetActiveColor: #FFE074;
    --showMoreLinkHover: #007fda;
    font-size: 1rem;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    padding: 60px 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* utils */
.mt-30 {
    margin-top: 30px;
}

.container {
    /* max-width: 1200px; */
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 968px) {
    .container {
        max-width: 900px
    }
} 

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* @media (max-width: 1200px) {
    .container {
        max-width: 900px
    }
}

@media (max-width: 899px) {
    .container {
        max-width: 600px;
    }
} */

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 870px;
}

.sidebar {
    /* width: 250px; */
    /* flex-shrink: 0; */
    /* display: none; */
    /* original width */
    /* width: 270px; */

    width: 280px;
    margin-left: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 4px rgba(0 0 0 / 37%);
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: transform .5s ease 0s;
}

/* .sidebar.right {
    touch-action: pan-right;
    -ms-touch-action: pan-right;
} */

.sidebar--active {
    transform: translateX(0%);
}

@media (min-width: 968px) {
    .sidebar {
        width: 270px;
        flex-shrink: 0;
        position: static;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        overflow: visible;
        transform: none;
        margin-left: 30px;
    } 
}

/* .main + .sidebar {
    margin-left: 30px;
} */

/* Card */
.cards-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: space-between;
    flex-wrap: wrap; */
}

@media (min-width: 620px) {
    .cards-holder {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

/* @media (max-width: 599px) {
    .cards-holder {
        flex-direction: column;
        align-items: center;
    }
} */

.cards-holder > .card-link {
    margin-bottom: 30px;
}

.hidden-cards {
    display: none;
}

.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in;
}

.card-link:hover {
    opacity: .8;
    transform: translateY(-5px);
}

.card-link--hidden {
    display: none;
}

.card {
    position: relative;
    max-width: 270px;
    background-color: #fff;
}

.card__badges {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: .875rem;
}

.card__badges > * + * {
    margin-left: 8px;
}

.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    line-height: 22px;
    border-radius: 4px;
    color: #000;
}

.card__badge--class {
    background-color: #FFCF26;
}

.card__badge--credit {
    background-color: #11BE75;
    color: #fff;
}

.card__img {
    overflow: hidden;
}

.card__content {
    padding: 15px 15px 20px;
    font-size: .875rem;
    line-height: 1.143;
    color: #000;
}

.card__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    line-height: 1.16;
    font-weight: 700;
    color: #000;
}

.card__term {
    margin-bottom: 10px;
}

.card__metro {
    margin-bottom: 10px;
}

.card__metro::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 11px;
    vertical-align: baseline;
    background-image: url('../img/icons/moscow-metro.svg');
    background-repeat: no-repeat;
    background-size: initial;
}

.card__address {
    color: #777;
}

/* Button more */
.btn-more {
    width: 100%;
    height: 80px;
    align-self: center;
    border-radius: 4px;
    background: #E5E5E5;
    border: none;
    outline: none;

    font-size: 1.125rem;
    line-height: 1.16;
    text-align: center;
    color: #4290c9;
    cursor: pointer;
    transition: background .2s ease-in;
}

.btn-more:hover {
    background-color: #d8d8d8;
}

.btn-more img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: bottom;
}

/* Sidebar */
.widget + .widget {
    margin-top: 32px;
}

.widget__title {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.125rem;
    line-height: 1.16;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}

.widget__title::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -2px;
    top: -3px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/chevron-up.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    transition: transform .3s ease-in 0s;
}

.widget__title--active::after {
    transform: rotate(180deg);
}

.widget__body {

}

.widget__body--hidden {
    display: none;
}

.location {
    
}

.location__row {
    display: flex;
    margin-left: -1px;
}

.location__row:first-child {
    margin-top: -1px;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    border: 1px solid #D6D6D6;
}

.location__row:last-child {
    margin-top: -1px;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    border: 1px solid #D6D6D6;
    border-top: none;
}

.location__btn {
    flex-grow: 1;
    height: 49px;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .875rem;
    line-height: 49px;
    font-weight: 500;
    text-align: center;
    color: #3C3C3C;
    cursor: pointer;
    transition: background-color .2s ease-in 0s;
}

.location__btn--font-size {
    font-size: 1rem;
}

.location__checkbox {
    width: .1px;
    height: .1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    z-index: -1;
}

.location__btn:hover {
    background-color: #fff0bb;
}

.location__checkbox:checked + .location__btn {
    background-color: #FFCF26;
}

.location__checkbox:checked + .location__btn:hover {
    background-color: #e9ba11;
}

/* Radio */
.radio {
    display: block;
    cursor: pointer;
}

.radio + .radio {
    margin-top: 15px;
}

.radio__real {
    width: .1px;
    height: .1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    z-index: -1;
}

.radio__real:checked + .radio__fake::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3C3C3C;
}

.radio__real:checked + .radio__fake {
    background-color: #FFE074;
}

.radio__real:checked ~ .radio__title {
    font-weight: 500;
}

.radio__fake {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #777;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.radio__title {
    line-height: 1.1875;
    color: #3C3C3C;
}

/* Checkbox */
.checkbox {
    display: block;
    cursor: pointer;
}

.checkbox + .checkbox {
    margin-top: 15px;
}

.checkbox--hidden {
    display: none;
}

.checkbox__real {
    width: .1px;
    height: .1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    z-index: -1;
}

.checkbox__fake {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #777;
    border-radius: 2px;
    vertical-align: text-bottom;
}

.checkbox__title {
    line-height: 1.1875;
    color: #3C3C3C;
}

.checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    content: url(../img/icons/check.svg);
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
}

.checkbox__real:checked + .checkbox__fake {
    background-color: #FFE074;
}

.checkbox__real:checked + .checkbox__title {
    background-color: #FFE074;
}

.checkbox__real:checked ~ .checkbox__title {
    font-weight: 500;
}

/* Hidden widget elements */
/* .widget__hidden {
    display: none;
} */

.widget__show-hidden {
    display: inline-block;
    padding: 0;
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    line-height: 1.1875;
    color: #4290c9;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.widget__show-hidden:hover {
    text-decoration: underline;
    color: #007fda;
}

/* Toggle */
.toggle {
    cursor: pointer;
}

.toggle__real {
    width: .1px;
    height: .1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    z-index: -1;
}

.toggle__fake {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    width: 37px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 10px;
    vertical-align: text-bottom;
    padding: 2px;
}

.toggle__fake::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #3C3C3C;
    border-radius: 50%;
    transform: translateX(0%);
    transition: transform .2s ease-in;
}

.toggle__title {
    line-height: 1.1875;
    color: #3C3C3C;
}

.toggle__real:checked + .toggle__fake {
    background-color: #FFE074;
}

.toggle__real:checked + .toggle__fake::before {
    transform: translateX(100%);
}

.toggle__real:checked ~ .toggle__title {
    font-weight: 500;
}

/* Form buttons */
.form-btn {
    width: 100%;
    height: 50px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    text-align: center;
    line-height: 1.1875;
    color: #3C3C3C;
    cursor: pointer;
    transition: background .2s ease-in;
}

.form-btn img {
    display: inline-block;
    margin-right: 4px;
    margin-top: -2px;
    vertical-align: middle;
}

.form-btn:hover {
    background-color: #d8d8d8;
}

.form-btn + .form-btn {
    margin-top: 10px;
}

.form-btn--submit {
    border: none;
    background-color: #FFCF26;
    color: #000;
}

.form-btn--submit:hover {
    background-color: #e9ba11;
}

/* Button toggle sidebar */
.toggle-sidebar {
    display: none;
    position: relative;
}

.menu-icon {
    width: 40px;
    height: 30px;
    position: fixed;
    top: -5px;
    right: 30px;
    margin: 20px 0;
    border: none;
    background-color: transparent;
    outline: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFCF26; /*#d3531a;*/
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
    top: 12px;
}

.menu-icon span:nth-child(4) {
    top: 24px;
}

.menu-icon.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}