.form-btn {
    width: 100%;
    height: 50px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    text-align: center;
    line-height: 1.1875;
    color: #3C3C3C;
    cursor: pointer;
    -webkit-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.form-btn img {
    display: inline-block;
    margin-right: 4px;
    margin-top: -2px;
    vertical-align: middle;
}

.form-btn:hover {
    background-color: #d8d8d8;
}

.form-btn + .form-btn {
    margin-top: 10px;
}

.form-btn--submit {
    border: none;
    background-color: #FFCF26;
    color: #000;
}

.form-btn--submit:hover {
    background-color: #e9ba11;
}