.sidebar {
    width: 280px;
    margin-left: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0 0 0 / 37%);
            box-shadow: 0px 0px 20px 4px rgba(0 0 0 / 37%);
    overflow-y: scroll;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform .5s ease 0s;
    transition: -webkit-transform .5s ease 0s;
    -o-transition: transform .5s ease 0s;
    transition: transform .5s ease 0s;
    transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
}

.sidebar--active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

@media (min-width: 968px) {
    .sidebar {
        width: 270px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: static;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        overflow: visible;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        margin-left: 30px;
    } 
}